.guess {
    margin-top: 100px;
}
.gametitle {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;

}
.states {
    background: bisque;
}

.guesses {
    background-color: ghostwhite;
}